Installation Guide/security_alarm_flow.json
[
    {
        "id": "b77c119c9483d2c7",
        "type": "tab",
        "label": "Projeto SembIot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f59c15152de7933f",
        "type": "websocket in",
        "z": "b77c119c9483d2c7",
        "name": "",
        "server": "",
        "client": "4f6b7b22ea0ac414",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "a90551be9766b261",
                "5f6a9f3490fc8d57",
                "2dbb2708ab5c8a39"
            ]
        ]
    },
    {
        "id": "a90551be9766b261",
        "type": "debug",
        "z": "b77c119c9483d2c7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "270fd538f6d7ed67",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "b77c119c9483d2c7",
        "name": "",
        "credtype": "account",
        "account": "7081fe4e43c1c212",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1060,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5f6a9f3490fc8d57",
        "type": "switch",
        "z": "b77c119c9483d2c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1,0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "387615e6dc4a5fbe"
            ]
        ]
    },
    {
        "id": "387615e6dc4a5fbe",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "name": "Mensagem enviada",
        "func": "msg.payload = \"Sensor de presença acionado\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 300,
        "wires": [
            [
                "270fd538f6d7ed67",
                "c06ffa8d580e17ce"
            ]
        ]
    },
    {
        "id": "c06ffa8d580e17ce",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "b77c119c9483d2c7",
        "name": "",
        "credtype": "account",
        "account": "8326c678dd614df8",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 1060,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd0fb3552b42768",
        "type": "websocket out",
        "z": "b77c119c9483d2c7",
        "name": "",
        "server": "",
        "client": "4f6b7b22ea0ac414",
        "x": 1050,
        "y": 500,
        "wires": []
    },
    {
        "id": "d38968845f094a19",
        "type": "ui_button",
        "z": "b77c119c9483d2c7",
        "name": "",
        "group": "43ec7914a8df8cbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "ebd0fb3552b42768"
            ]
        ]
    },
    {
        "id": "2dbb2708ab5c8a39",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "name": "DataManipulator",
        "func": "var stringRecebida = msg.payload;\n\n// Divida a string em partes usando a vírgula como delimitador\nvar partes = stringRecebida.split(',');\n\n// Extraia os dados e alocar cada um em uma variavel\nvar buttonState = parseFloat(partes[1]);\n\nvar sensorState = \"Off\";\n\nif(buttonState == 1){\n    sensorState = \"Off\";\n} else{\n    sensorState = \"On\";\n}\n\n// Atribua os valores ao payload da mensagem\nmsg.payload = sensorState;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "73e59ff298b9b389",
                "a5c8313551049268"
            ]
        ]
    },
    {
        "id": "73e59ff298b9b389",
        "type": "ui_text",
        "z": "b77c119c9483d2c7",
        "group": "43ec7914a8df8cbf",
        "order": 1,
        "width": 12,
        "height": 10,
        "name": "",
        "label": "Sensor State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "a5c8313551049268",
        "type": "debug",
        "z": "b77c119c9483d2c7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "4f6b7b22ea0ac414",
        "type": "websocket-client",
        "path": "ws://192.168.1.13/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "7081fe4e43c1c212",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "msg_wppJoao"
    },
    {
        "id": "8326c678dd614df8",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "msg_wppRiver"
    },
    {
        "id": "43ec7914a8df8cbf",
        "type": "ui_group",
        "name": "Botao",
        "tab": "94c98f1c9cd08b58",
        "order": 1,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "94c98f1c9cd08b58",
        "type": "ui_tab",
        "name": "Esp32 sensor data",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]