Installation Guide/Node-RED/Semb_IOT_2024.json
[
    {
        "id": "b77c119c9483d2c7",
        "type": "tab",
        "label": "Projeto SembIot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e9be0ea3986cafd5",
        "type": "group",
        "z": "b77c119c9483d2c7",
        "name": "Sensor",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "f59c15152de7933f",
            "270fd538f6d7ed67",
            "5f6a9f3490fc8d57",
            "387615e6dc4a5fbe",
            "c06ffa8d580e17ce",
            "ebd0fb3552b42768",
            "d38968845f094a19",
            "2dbb2708ab5c8a39",
            "fa58ececfae7a893",
            "6fc720b3bf46b38b",
            "b5da44cc9aee2ccb",
            "4ea9764263f5b801",
            "15b73a0738545c43",
            "7553c311d38cb203",
            "7fb422d79abf671c"
        ],
        "x": 34,
        "y": 59,
        "w": 1052,
        "h": 342
    },
    {
        "id": "4521da6b94ddc04d",
        "type": "group",
        "z": "b77c119c9483d2c7",
        "name": "Cam",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "2aaeffa76836a1ce",
            "fa80a6eff4d5a618",
            "8fe09701519c04f4",
            "19c7771815ccc665",
            "a8449a5b7aed4cb6",
            "4e5d569411d4dca6",
            "a483b5950061932e",
            "f7ce6d1afe85756e",
            "functionNode",
            "uiTemplateNode",
            "16d1d03bb346c3ba",
            "a55579c835aa6dda",
            "4574269990cd21d7",
            "02acbad657ea4ca3",
            "13de5dc95f1bf19b",
            "21c32d2fa8ef19fe",
            "ac55923d6fa6339a",
            "1422bc8bd81b8378",
            "ac6780718a135fba",
            "59bce0a30e5a0d38",
            "2060e6140c207b98",
            "cc1e7cfa22da9fd6"
        ],
        "x": 34,
        "y": 459,
        "w": 772,
        "h": 522
    },
    {
        "id": "2aaeffa76836a1ce",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "brightness control",
        "func": "msg.payload = \"http://192.168.1.10/control?var=brightness&val=\"+msg.payload\n\n//http://device_ip/cm?cmnd=wcbrightness%\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "fa80a6eff4d5a618"
            ]
        ]
    },
    {
        "id": "fa80a6eff4d5a618",
        "type": "change",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "8fe09701519c04f4"
            ]
        ]
    },
    {
        "id": "8fe09701519c04f4",
        "type": "http request",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "19c7771815ccc665",
        "type": "ui_slider",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "3ab52ca560b4dfd8",
        "order": 9,
        "width": 8,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-2",
        "max": "2",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "2aaeffa76836a1ce"
            ]
        ]
    },
    {
        "id": "a8449a5b7aed4cb6",
        "type": "ui_slider",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "label": "Contrast     ",
        "tooltip": "",
        "group": "3ab52ca560b4dfd8",
        "order": 8,
        "width": 8,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-2",
        "max": "2",
        "step": "1",
        "className": "",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "4e5d569411d4dca6"
            ]
        ]
    },
    {
        "id": "4e5d569411d4dca6",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "Contrast control",
        "func": "\nmsg.payload = \"http://192.168.1.10/control?var=contrast&val=\"+msg.payload\n\n//http://DEVICE_IP/cm?cmnd=WcBrightness%\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "a483b5950061932e"
            ]
        ]
    },
    {
        "id": "a483b5950061932e",
        "type": "change",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "f7ce6d1afe85756e"
            ]
        ]
    },
    {
        "id": "f7ce6d1afe85756e",
        "type": "http request",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "functionNode",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "Check Message",
        "func": "if (msg.payload === 1) {\n    msg.showStream = true;\n} else {\n    msg.showStream = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "uiTemplateNode"
            ]
        ]
    },
    {
        "id": "uiTemplateNode",
        "type": "ui_template",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "group": "3ab52ca560b4dfd8",
        "name": "Display Stream",
        "order": 2,
        "width": 22,
        "height": 10,
        "format": "<div id=\"streamContainer\"></div>\n<script type=\"text/javascript\">\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            var streamContainer = document.getElementById('streamContainer');\n            if (msg.showStream) {\n                streamContainer.innerHTML = '<img src=\"http://192.168.1.10:81/stream\" width=\"1150\" height=\"525\">';\n            } else {\n                streamContainer.innerHTML = '';\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "16d1d03bb346c3ba",
        "type": "ui_button",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "group": "3ab52ca560b4dfd8",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "GREEN",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "functionNode"
            ]
        ]
    },
    {
        "id": "a55579c835aa6dda",
        "type": "ui_button",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "group": "3ab52ca560b4dfd8",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "functionNode"
            ]
        ]
    },
    {
        "id": "4574269990cd21d7",
        "type": "ui_text",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "group": "3ab52ca560b4dfd8",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Show Stream",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "02acbad657ea4ca3",
        "type": "ui_text",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "group": "3ab52ca560b4dfd8",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Cam Stetting",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 500,
        "wires": []
    },
    {
        "id": "f59c15152de7933f",
        "type": "websocket in",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "server": "",
        "client": "4f6b7b22ea0ac414",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "5f6a9f3490fc8d57",
                "2dbb2708ab5c8a39"
            ]
        ]
    },
    {
        "id": "270fd538f6d7ed67",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "credtype": "account",
        "account": "7081fe4e43c1c212",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 840,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5f6a9f3490fc8d57",
        "type": "switch",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1,0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "387615e6dc4a5fbe",
                "4ea9764263f5b801",
                "7fb422d79abf671c"
            ]
        ]
    },
    {
        "id": "387615e6dc4a5fbe",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "Mensagem enviada",
        "func": "msg.payload = \"Sensor de presença acionado\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "270fd538f6d7ed67",
                "c06ffa8d580e17ce"
            ]
        ]
    },
    {
        "id": "c06ffa8d580e17ce",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "credtype": "account",
        "account": "8326c678dd614df8",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd0fb3552b42768",
        "type": "websocket out",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "server": "",
        "client": "4f6b7b22ea0ac414",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "d38968845f094a19",
        "type": "ui_button",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "group": "43ec7914a8df8cbf",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "ON/OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ebd0fb3552b42768",
                "4ea9764263f5b801"
            ]
        ]
    },
    {
        "id": "2dbb2708ab5c8a39",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "DataManipulator",
        "func": "var stringRecebida = msg.payload;\n\n// Divida a string em partes usando a vírgula como delimitador\nvar partes = stringRecebida.split(',');\n\n// Extraia os dados e alocar cada um em uma variavel\nvar buttonState = parseFloat(partes[1]);\n\nvar sensorState = \"Off\";\n\nif(buttonState == 1){\n    sensorState = \"0\";\n} else{\n    sensorState = \"1\";\n}\n\n// Atribua os valores ao payload da mensagem\nmsg.payload = sensorState;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 340,
        "wires": [
            [
                "fa58ececfae7a893"
            ]
        ]
    },
    {
        "id": "fa58ececfae7a893",
        "type": "ui_gauge",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "group": "43ec7914a8df8cbf",
        "order": 2,
        "width": 14,
        "height": 8,
        "gtype": "gage",
        "title": "Sensor state",
        "label": "OFF/ON",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#000000",
            "#e6e600",
            "#66ff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "6fc720b3bf46b38b",
        "type": "ui_text",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "group": "43ec7914a8df8cbf",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Enable sensor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 140,
        "y": 200,
        "wires": []
    },
    {
        "id": "b5da44cc9aee2ccb",
        "type": "ui_chart",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "group": "43ec7914a8df8cbf",
        "order": 3,
        "width": 8,
        "height": 8,
        "label": "Sensor activations",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#aec7e8",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea9764263f5b801",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "Count Messages",
        "func": "// Verificar se a mensagem é \"toggle\"\nif (msg.payload === \"toggle\") {\n    // Zerar o contador\n    flow.set('messageCount', 0);\n    msg.payload = 0;\n} else {\n    // Obter o contador atual do contexto de fluxo\n    var count = flow.get('messageCount') || 0;\n\n    // Incrementar o contador\n    count++;\n\n    // Armazenar o novo valor no contexto de fluxo\n    flow.set('messageCount', count);\n\n    // Adicionar o contador à mensagem\n    msg.payload = count;\n}\n\n// Retornar a mensagem\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "b5da44cc9aee2ccb"
            ]
        ]
    },
    {
        "id": "13de5dc95f1bf19b",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "Contrast control",
        "func": "\nmsg.payload = \"http://192.168.1.10/control?var=led_intensity&val=\"+msg.payload\n\n//http://DEVICE_IP/cm?cmnd=WcBrightness%\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "21c32d2fa8ef19fe"
            ]
        ]
    },
    {
        "id": "21c32d2fa8ef19fe",
        "type": "change",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "ac55923d6fa6339a"
            ]
        ]
    },
    {
        "id": "ac55923d6fa6339a",
        "type": "http request",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1422bc8bd81b8378",
        "type": "ui_slider",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "label": "Led Intensity  ",
        "tooltip": "",
        "group": "3ab52ca560b4dfd8",
        "order": 7,
        "width": 8,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "20",
        "step": "1",
        "className": "",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "13de5dc95f1bf19b"
            ]
        ]
    },
    {
        "id": "59bce0a30e5a0d38",
        "type": "http request",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "Capture Image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.10/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 760,
        "wires": [
            [
                "2060e6140c207b98"
            ]
        ]
    },
    {
        "id": "2060e6140c207b98",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "Save Image",
        "func": "var fileName = \"C:/prints/image_\" + new Date().getTime() + \".jpg\";\nmsg.filename = fileName;\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "ac6780718a135fba"
            ]
        ]
    },
    {
        "id": "ac6780718a135fba",
        "type": "file",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cc1e7cfa22da9fd6",
        "type": "ui_button",
        "z": "b77c119c9483d2c7",
        "g": "4521da6b94ddc04d",
        "name": "",
        "group": "3ab52ca560b4dfd8",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Screenshot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "59bce0a30e5a0d38"
            ]
        ]
    },
    {
        "id": "7fb422d79abf671c",
        "type": "http request",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "Capture Image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.10/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "7553c311d38cb203"
            ]
        ]
    },
    {
        "id": "7553c311d38cb203",
        "type": "function",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "Save Image",
        "func": "var fileName = \"C:/prints/image_\" + new Date().getTime() + \".jpg\";\nmsg.filename = fileName;\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "15b73a0738545c43"
            ]
        ]
    },
    {
        "id": "15b73a0738545c43",
        "type": "file",
        "z": "b77c119c9483d2c7",
        "g": "e9be0ea3986cafd5",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cfc9f0e416dd05d6",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 5,
        "width": 8,
        "height": 1
    },
    {
        "id": "384dc7f0c3229a80",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "ce92ae2c3052861e",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "5887f87cfc2d77c7",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "79f1cdbad538b683",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "a4597c3a6834f37e",
        "type": "ui_spacer",
        "z": "b77c119c9483d2c7",
        "name": "spacer",
        "group": "43ec7914a8df8cbf",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "3ab52ca560b4dfd8",
        "type": "ui_group",
        "name": "Cam data",
        "tab": "94c98f1c9cd08b58",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f6b7b22ea0ac414",
        "type": "websocket-client",
        "path": "ws://192.168.1.9/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "7081fe4e43c1c212",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "msg_wppJoao"
    },
    {
        "id": "8326c678dd614df8",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "msg_wppRiver"
    },
    {
        "id": "43ec7914a8df8cbf",
        "type": "ui_group",
        "name": "Sensor data",
        "tab": "94c98f1c9cd08b58",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94c98f1c9cd08b58",
        "type": "ui_tab",
        "name": "Esp32 security system",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]